body {
    background-image: url("../images/escheresque_ste_@2X.png");
    font-family:'Francois One', sans-serif;
}

.card-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

#trivia-card {
    height: 600px;
    background-color: whitesmoke;
}

#start-button {
    font-size: 26px;
    margin: 25% auto;
    width: 50%;
}

.question {
    text-align: center;
    font-size: 24px;
}

.answer {
    padding-left: 15%;
}

.message {
    text-align: center;
    font-size: 32px;
    margin-top: 5%;
}

.win-message {
    color: green;
}

.lose-message {
    color: red;
}