body {
    background-image: url("../images/escheresque_ste_@2X.png");
    font-family:'Francois One', sans-serif;
}

.card-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

#trivia-card {
    height: 600px;
    width: 100% auto;
    background-color: whitesmoke;
    position: relative;
}

.start-button {
    font-size: 26px;
    position: absolute;
    margin: 20%;
    bottom: 10%;
    width: 50%;
}

.restart {
    margin:0;
    left: 25%;
    bottom: 15%
}

.question {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5%;
}

.answer {
    text-align: center;
}

.message {
    text-align: center;
    font-size: 32px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.win-message {
    color: green;
}

.lose-message {
    color: red;
}

.game-timer {
    position: absolute;
    bottom: 5%;
    width: 100% auto;
    text-align: center;
    font-size: 24px;
    margin: 0;
    left: 48%
}